# Increase log verbosity
log_level = "DEBUG"
data_dir = "/var/lib/nomad"

client {
  enabled = true
  node_class = "node"
  servers = [
    {{ ansible_all_ipv4_addresses | list | join(',') }}
  ]
  options = {
    "docker.privileged.enabled" = "true"
    "docker.volumes.enabled" = "true"
  }
}

# Modify our port to avoid a collision with server1
ports {
  http = 5656
}
